:root{
    --kal1- : #f50d0d;
    --kal2- : #e6e612;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.back{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--kal1-), var(--kal2-));
    padding: 10px;
}

.todo{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: #ffffff;
}

.todo h2{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
img{
    width: 30px;
    margin-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    outline: none;
    border: none;
    background: transparent; 
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #363434;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.8s;
}

button:hover{
    color: #ffffff;
    background: #ed1800;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    /* position kene absolute baru membe mucul */
    position: absolute;
    background-image: url(unchecked.png);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;

}

ul li.checked{
    text-decoration: line-through;
    color: #686565;
}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #9a8f8f;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.8s;
}

ul li span:hover{
    background: #ed1800;
    color: #ffff;
    border-radius: 50%;
    
}

button.last{
    opacity: 0;
    transition : opacity 0.8s ease-in;
}

button.last:hover{
    opacity: 1;
    
}
